/* Styles for the registration form container */
.register {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 18px;
  width: 600px;
  margin: 100px auto;
  background-color: #f3f3f3;
  box-shadow: 0 5px 10px rgba(0, 0, 0, .2);
  padding: 30px;
  padding-left: 10px;
  border-radius: 10px;
  transition: 0.3s;
}

/* Hover styles for the registration form container */
.register:hover {
  transform: scale(1.03);
  box-shadow: 0 10px 15px rgba(0, 0, 0, .3);
}

.register form {
  max-width: 500px;
}

/* Styles for the input types */
.register input[type="text"],
.register input[type="email"],
.register input[type="tel"],
.register textarea,
.register input[type="date"],
.register input[type="password"],
.register select {
  display: block;
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
}

/* Styles for select input type */
.register select {
  display: block;
  width: 104%;
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
}

/* Styles for radio button */
.register input[type="radio"] {
  margin-right: 10px;
}

.register label {
  font-size: 16px;
  margin-bottom: 10px;
}

.register p {
  font-size: 16px;
  margin-bottom: 10px;
}

.register a {
  text-decoration: none;
  font-size: 16px;
  margin-bottom: 10px;
  transition: 0.3s;
}

.register a:hover {
  color: rgb(141, 7, 2);
  font-size: 18px;
}

/* Styles for the checkbox */
.register input[type="checkbox"] {
  margin-right: 10px;
}

/* Styles for submit button */
.register input[type="submit"] {
  display: block;
  width: 104%;
  padding: 10px;
  font-size: 16px;
  font-weight: 700;
  text-align: center;
  color: #ffffff;
  background-color: #0078D7;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
}

/* Hover styles for submit button */
.register input[type="submit"]:hover {
  background-color: #005a9e;
}

/* Disabled styles for submit button */
.register input[type="submit"]:disabled {
  background-color: #a8a8a8;
  cursor: not-allowed;
}

/* Styles for the error message */
.error-msg {
  margin: 10px 0;
  display: block;
  background: crimson;
  color: #fff;
  border-radius: 5px;
  font-size: 16px;
}
