@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

.add-exam-container {
    width: 400px;
    margin: 100px auto;
    background-color: #f3f3f3;
    box-shadow: 0 5px 10px rgba(0,0,0,.2);
    padding: 20px;
    border-radius: 5px;
    transition: 0.3s;
  }

  .add-exam-container:hover{
    transform: scale(1.03);
    box-shadow: 0 10px 15px rgba(0,0,0,.3);
  }
  
  .add-exam-container h2 {
    font-size: 24px;
    text-align: center;
    margin-bottom: 20px;
    color: #333;
  }
  
  .add-exam-container form {
    display: flex;
    flex-direction: column;
  }
  
  .add-exam-container label {
    font-size: 16px;
    margin-bottom: 10px;
    color: #333;
  }
  
  .add-exam-container input[type="text"],
  .add-exam-container input[type="date"],
  .add-exam-container textarea {
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    font-family: 'Poppins', sans-serif;
  }
  
  .add-exam-container input[type="submit"] {
    padding: 10px 20px;
    border: none;
    background-color: #0078D7;
    color: #fff;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
  }
  
  .add-exam-container input[type="submit"]:hover {
    background-color: #005a9e;
  }
  